{% extends "layouts/main.html" %}

{% block pageTitle %}
  Proof of benefit letter
{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: "View your letters and messages",
    serviceUrl: " "
    })}}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content" style="text-align: centre;">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Discovery
      </strong>
      <span class="govuk-phase-banner__text">
        This is not a service. These are example conceptual screens.
      </span>
    </p>
  </div>

  {{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    
    <div class="govuk-grid-column-two-thirds">
      
      <span class="govuk-caption-xl">Employment and Support Allowance (ESA)</span>
      <h1 class="govuk-heading-xl">Information about your benefit entitlement</h1>

       
      <p class="govuk-body">Message to Sarah Phillips sent on <span id="date-today"></span></p>
        
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible custom-hr" aria-hidden="true">
      

      <p class="govuk-body">Your reference number: AC222222A  </p>
      <p class="govuk-body">Please find the information you requested below.</p>

      <h2 class="govuk-heading-m">Your entitlement details</h2>

      <p class="govuk-body">You were awarded Contributory Employment and Support Allowance.</p> 
      <p class="govuk-body">Your partner is also included on this claim.</p> 
      <ul class="govuk-body"> 
          <li>Partner's name: John Doe</li>
          <li>Partner's National Insurance number: AC222222A</li>
      </ul>
      <p class="govuk-body">Entitlement start date: 6 October 2024</p> 
      <p class="govuk-body">Current amount: £10.00 four weekly</p> 

      <p class="govuk-body">Please be careful who you share this letter and other personal information with.</p>
      
      <h2 class="govuk-heading-m">Download a copy</h2>

      <p class="govuk-body govuk-!-font-weight-bold">
          <img src="/public/images/download-icon.svg" alt="sDownload icon" class="govuk-icon" aria-hidden="true"> <a href="#" class="govuk-link govuk-link--no-visited-state">Download your statement of entitlement (PDF, 4.2KB)</a>
      </p>
     
      <h2 class="govuk-heading-m" id="contact-us">Contact us</h2>
      <p class="govuk-body">You can contact us by telephone on 0800 555 0001 or textphone on 0800 555 0002.</p> 
      
      <h2 class="govuk-heading-m">Reporting change of circumstances</h2>
      <p class="govuk-body">You must tell us straightaway if there is a change in your
        circumstances. If you give wrong or incomplete information, or
        you do not report changes, you may be paid more or less money
        than you should. You will have to pay back overpaid money
        when told to do so. You could also be prosecuted or need to pay
        a financial penalty. If we pay you less money than we should we
        may pay you this money back.
      </p>
  


      <br>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      <h2 class="govuk-heading-l">Next steps and support</h2>

      <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h3 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                We have many different ways we can communicate with you
              </span>
            </h3>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content">
            <p class="govuk-body">If you would like Braille, British Sign Language, a hearing loop, translations, large print or something else please tell us using the phone number in the <a href="#contact-us" class="govuk-link--no-visited-state">Contact us</a> section.</p>
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h3 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Equality and Diversity
              </span>
            </h3>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content">
            <p class="govuk-body">We treat people fairly, regardless of their disability, ethnicity, gender, sexual orientation, transgender status, marital or civil partnership status, age, religion or beliefs.</p>
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h3 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Call charges
              </span>
            </h3>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content">
            <p class="govuk-body">Calls to 0800 numbers are free from personal mobiles and landlines.</p>
          </div>
        </div>
        <div class="govuk-accordion__section">
          <div class="govuk-accordion__section-header">
            <h3 class="govuk-accordion__section-heading">
              <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                Why DWP needs personal information and how we treat it
              </span>
            </h3>
          </div>
          <div id="accordion-default-content-1" class="govuk-accordion__section-content">
            <p class="govuk-body">We treat personal information carefully. We may use it for any of our purposes. To learn more about information rights and how we use information, please visit our <a href="#" class="https://www.gov.uk/">DWP Personal Information Charter.</a></p>
            <p class="govuk-body">If you have included another adult's personal information in your claim you should let them know. They can find information about why and how DWP uses personal information in our <a href="#" class="https://www.gov.uk/">DWP Personal Information Charter.</a></p>
          </div>
        </div>
      </div>
    
  </div>



  <style>
    /* Line thickness */
    .custom-hr {
      border: none;
      height: 6px; 
      background-color: #19bcb9;
    }

    /* Icon formatting */
    .govuk-icon {
      color: #1d70b8;
      vertical-align: middle;
    }
  </style>

  <script>

    document.addEventListener('DOMContentLoaded', (event) => {

    const navType = performance.getEntriesByType('navigation')[0]?.type;
    if (navType === 'reload') {
      localStorage.clear();
    }

    const today = new Date ();
    const formattedDate = today.toLocaleDateString('en-GB', {

    day: 'numeric',
    month: 'long',
    year: 'numeric'

    });

    const dateColumns = document.querySelectorAll('.date-today');
    dateColumns.forEach(column => {
    column.textContent = formattedDate;

    });

    document.getElementById('date-today').textContent = formattedDate;

    });
  </script>

{% endblock %}


