{% extends "layouts/main.html" %}

{% block header %}
  {{ super() }}

  <style>
    .govuk-service-navigation__wrapper{
        flex-grow: 1;
    }
</style>

{% set navigationEnd %}
  <li class="govuk-service-navigation__item" style="margin-left: auto;">
    <a class="govuk-service-navigation__link" href="research-set-up/intro">Sign out</a>
  </li>
{% endset %}

{{ govukServiceNavigation({
  serviceName: "Your letters and messages",
    slots: {navigationEnd: navigationEnd}
  }) }}
{% endblock %}

{% block pageTitle %}
Your statement of entitlement
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "inbox"
  }) }}

  <div class="govuk-inset-text">
        <h2 class="govuk-heading-s">If you need this message as a letter, you can download a copy.</h2>
        <a href="#" class="govuk-link govuk-link--no-visited-state">Download your proof of benefit (PDF, 4.2 KB)</a>
      </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    
      <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-l">Sorry, this message cannot be displayed right now</h1>
        <p class="govuk-body">You can download the message as a letter at the top of the page, or try again later.</p>
      </div>

  </div>


  

{% endblock %}


