{% extends "layouts/main.html" %}

{% block header %}
  {{ super() }}

  <style>
    .govuk-service-navigation__wrapper{
        flex-grow: 1;
    }
</style>

{% set navigationEnd %}
  <li class="govuk-service-navigation__item" style="margin-left: auto;">
    <a class="govuk-service-navigation__link" href="research-set-up/intro">Sign out</a>
  </li>
{% endset %}

{{ govukServiceNavigation({
  serviceName: "View your letters and messages",
    slots: {navigationEnd: navigationEnd}
  }) }}
{% endblock %}

{% block pageTitle %}
Your statement of entitlement
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
      text: "Back",
      href: "inbox"
  }) }}
  
  <ul class="dwp-language-toggle__list">
    <li class="dwp-language-toggle__list-item" aria-current="true"> <span class="govuk-body-s"> English  </span></li>
    <li class="dwp-language-toggle__list-item">    
    <a href="#" hreflang="cy" lang="cy" rel="alternate" class="govuk-link--no-visited-state" aria-label="Newid yr iaith ir Gymraeg">Cymraeg</a>
    </li>
  </ul>

  <div class="govuk-inset-text">
        <h2 class="govuk-heading-s">If you need this message as a letter, you can download a copy.</h2>
        <a class="govuk-link govuk-link--no-visited-state" download="PIP_Letter2" href="/public/files/PIP_Letter2.pdf">Download your proof of benefit (PDF, 4.2 KB)</a>
      </div>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    
      <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-l">Sorry, this message cannot be displayed right now</h1>
        <p class="govuk-body">You can download the message as a letter at the top of the page, or try again later.</p>
      </div>

  </div>


  

{% endblock %}


