{% extends "layouts/main.html" %}

{% block pageTitle %}
  Proof of benefit letter
{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: "View your letters and messages",
    serviceUrl: " "
    })}}
{% endblock %}


{% block beforeContent %}
  <div class="govuk-phase-banner">
    <p class="govuk-phase-banner__content" style="text-align: centre;">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        Discovery
      </strong>
      <span class="govuk-phase-banner__text">
        This is not a service. These are example conceptual screens.
      </span>
    </p>
  </div>

  {{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      
      <span class="govuk-caption-xl">Personal Independence Payment</span>
      <h1 class="govuk-heading-xl">Your statement of entitlement</h1>

      <p class="govuk-body govuk-!-font-weight-bold">
        <a class="govuk-link" download="PIP_Letter.pdf" href="/public/files/PIP_Letter.pdf">
          Download your letter (PDF, 4.2KB)
        </a>
      </p>

      <br>

      <img src="/public/images/dwp-logo.png" class="dwp-logo" aria-hidden="true">

      <style>
        .dwp-logo {max-width: 135px}
        .dwp-logo {max-height: 113.5px}
        .dwp-logo {padding-bottom: 20px}
      </style>

      <p class="govuk-body">Personal Independence Payment 1<br>
        Mail Handling Site A<br>
        Wolverhampton<br>
        WV98 1AA<br>
      </p>

      <p class="govuk-body">
        <a href="#" class="https://www.gov.uk/">www.gov.uk</a>
      </p>

      <p class="govuk-body">Telephone: 0800 121 4433<br>
        Textphone: 0800 121 4493
      </p>

      <p class="govuk-body">Your reference: ABC123456</p>
      

      <p class="govuk-body">Date: <span id="date-today"></span></p>
      
      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl" aria-hidden="true">

      <p class="govuk-body">Sarah Philips<br>
        72 Guild Street<br>
        London<br>
        SE23 6FH<br>
      </p>

      <br>

      <p class="govuk-body">Dear Sarah Philips</p>
      

      <p class="govuk-body">Thank you for asking for a copy of your PIP Statement of Entitlement.</p>

      <p class="govuk-body">You have been awarded PIP as follows:</p> 
      <p class="govuk-body">The standard rate of the mobility component from 2 May 2020 to 2 December 2029.</p> 
      <p class="govuk-body">The enhanced rate of the daily living component from and including 6 June 2019 for an indefinite period.</p> 
      <p class="govuk-body">As you have been awarded PIP you may be able to get other benefits and services. You can use this document to show you have been awarded PIP.</p>
      <p class="govuk-body">For more information about financial help you may be able to get go to <a href="#" class="https://www.gov.uk/">www.gov.uk/financial-help-disabled</a></p> 
      
      <p class="govuk-body">Yours sincerely,</p> 
      <p class="govuk-body">Office Manager</p> 

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl" aria-hidden="true">

      <h2 class="govuk-heading-m">Other benefits, support and advice</h2>

      <p class="govuk-body">There are other benefits and help you may be able to get. For example:</p> 

      <ul class="govuk-body"> 
        <li>Access to work</li>
        <li>Employment and Support Allowance</li>
        <li>Universal Credit</li>
        <li>Housing Benefit or Local Council Tax Reduction</li>
        <li>help with health costs (please go to your local NHS website for more details)</li>
        <li>a Motability vehicle (this is dependent on getting the enhanced amount of mobility)</li>
        <li>Disabled Persons Railcard and Blue Badge</li>
      </ul>

      <p class="govuk-body">If you are awarded the enhanced or standard mobility part of Personal Independence Payment you may be entitled to an exemption or reduction of Vehicle Excise Duty (VED).</p>
      <p class="govuk-body">For further information go to <a href="#" class="https://www.gov.uk/">www.gov.uk/financial-help-disabled/vehicles-and-transport</a> or contact DVLA on 0300 790 6802.</p>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl" aria-hidden="true">

      <h2 class="govuk-heading-m">Please tell us about any changes in your circumstances</h2>

      <p class="govuk-body">If your circumstances change, please let us know.</p> 

      <p class="govuk-body">Callus straight away, using the phone number on the front page of this letter. Someone else can call for you, but you will need to be with them when they call.</p> 

      <p class="govuk-body">A textphone is also available for people who do not speak or hear clearly. You can also write to the address shown at the top of this letter.</p> 

      <h3 class="govuk-heading-s">If your needs or condition changes</h3>

      <p class="govuk-body">Please tell us straight away if:</p> 

      <ul class="govuk-body"> 
        <li>the help you need or your condition changes, for example you need more or less help with daily living and mobility tasks</li>
        <li>your health professional tells you your condition will last for a longer or shorter time than you have already told us</li>
        <li>your condition has worsened, and you are not expected to live more than 12 months</li>
      </ul>

      <p class="govuk-body">Find out more at <a href="#" class="https://www.gov.uk/">www.gov.uk/pip/change-of-circumstances</a></p> 
      
      <h3 class="govuk-heading-s">Other changes you must tell us about</h3>

      <p class="govuk-body">Please tell us straight away if you:</p> 

      <ul class="govuk-body"> 
        <li>are not a British or Irish citizen and your immigration status changes. If you are a European Union, European Economic Area or Swiss citizen and were living in the UK by 31 December 2020 but have not applied to the EU Settlement Scheme, you and your family must apply straight away. If you have lived in the UK for 5 years or more in a row, you can apply for settled status. If you have pre-settled status this will not expire. It may be beneficial for you to apply for settled status if you have lived in the UK for 5 years or more in a row</li>
        <li>go into a hospital, hospice, nursing home or care home</li>
        <li>go into a residential school or college</li>
        <li>go into foster care, or the care of a local authority or health and social care trust</li>
        <li>plan to leave the country for more than 4 weeks</li>
        <li>go into prison or are held in legal custody</li>
        <li>or your spouse, civil partner or parent you are dependent upon, start to or stop receiving a pension or benefit from another EEA state or Switzerland</li>
      </ul>

      <p class="govuk-body">Changes can affect the amount of PIP you get. Depending on the change your PIP could go up, go down, stay the same or stop.</p>

      <p class="govuk-body">If we overpay you because you have not told us about a change, you may have to pay the money back.</p> 

      <p class="govuk-body">If you do not tell us about any changes straight away, you risk being prosecuted or having to face a financial penalty.</p> 

      <p class="govuk-body">Please also tell us straight away if you:</p> 

      <ul class="govuk-body"> 
        <li>change your name, address or landline or mobile phone number</li>
        <li>change the account that we pay your benefit into</li>
        <li>change doctor or health professional</li>
        <li>have someone acting for you and that person changes</li>
      </ul>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl" aria-hidden="true">

      <h2 class="govuk-heading-m">We have many different ways we can communicate with you</h2>

      <p class="govuk-body">If you would like braille, British Sign Language, a hearing loop, translations, large print, audio or something else please tell us using the phone number at the top of this letter.</p>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl" aria-hidden="true">

      <h2 class="govuk-heading-m">Treat people fairly</h2>

      <p class="govuk-body">We are committed to the Equality Act 2010 and treating people fairly. To find out more about this law, search 'Equality Act' on <a href="#" class="https://www.gov.uk/">www.gov.uk</a></p> 

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl" aria-hidden="true">

      <h2 class="govuk-heading-m">Call charges</h2>

      <p class="govuk-body">Calls to 0800 numbers are free from personal mobiles and landlines.</p>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl" aria-hidden="true">

      <h2 class="govuk-heading-m">Why DWP needs personal information and how we treat it</h2>

      <p class="govuk-body">We treat personal information carefully. We may use it for any of our purposes. To learn more about information rights and how we use information, please visit our DWP Personal Information Charter at <a href="#" class="https://www.gov.uk/">www.gov.uk/dwp/personal-information-charter</a></p> 

    </div>
  </div>

  <script>

    document.addEventListener('DOMContentLoaded', (event) => {

    const navType = performance.getEntriesByType('navigation')[0]?.type;
    if (navType === 'reload') {
      localStorage.clear();
    }

    const today = new Date ();
    const formattedDate = today.toLocaleDateString('en-GB', {

    day: 'numeric',
    month: 'long',
    year: 'numeric'

    });

    const dateColumns = document.querySelectorAll('.date-today');
    dateColumns.forEach(column => {
    column.textContent = formattedDate;

    });

    document.getElementById('date-today').textContent = formattedDate;

    });
  </script>
{% endblock %}


