{% extends "layouts/main.html" %}

{% block header %}
{{ govukHeader({
  homepageUrl: "index",
  serviceName: "View your letters and messages",
  serviceUrl: "#"
}) }}
{% endblock %}

{% block pageTitle %}
View your letters and messages
{% endblock %}

{% block beforeContent %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is not a live service and is for testing only.'
}) }}

{%- from "hmrc/components/language-select/macro.njk" import hmrcLanguageSelect -%}

{{
  hmrcLanguageSelect({
    language: 'en',
    en: {
      href: '?en'
    },
    cy: {
      href: '?cy'
    }
  })
}}

{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}

{% endblock %}
{% block content %}


<div class="govuk-grid-row">
  
  <div class="govuk-grid-column-two-thirds">
    
    <h1 class="govuk-heading-l">Your Income-based Job Seeker's Allowance (JSA) payments will end</h1>
    <h2 class="govuk-heading-m">You have made a claim for Universal Credit</h2>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <p class="govuk-body">Dear Sarah Philips</p>
    
    <p class="govuk-body">Your Income-based Job Seeker's Allowance (JSA) will end on 31 Decemeber 2025.</p>
    
    <p class="govuk-body">We have received your Universal Credit (UC) claim and your final payment of £4,240 covers the period 1 September 2025 to 31 December 2025. We will pay this money into your usual account.</p>
    
    <h3 class="govuk-heading-s">Housing Benefit and Council Tax</h3>
    <p class="govuk-body">If you get Housing Benefit or Council Tax Reduction, your local authority will write to you about this.</p>
    
    <h3 class="govuk-heading-s">If you have a deduction from your benefit</h3>
    <p class="govuk-body">If you have a deduction from your  Income-based Job Seeker's Allowance (JSA) towards debt or ongoing payments, for example, rent arrears, utility bills or council tax, this will stop when your  Income-based Job Seeker's Allowance (JSA) stops.</p>
    
    <p class="govuk-body">You need to contact the organisation who set up the deduction and ask them to make new arrangements with Universal Credit. It is important you do this as soon as possible.</p>
    
      <p class="govuk-body">For more information, click <a href="https://www.gov.uk/bills-benefits" class="govuk-link">here</a>.</p>
    
        <p class="govuk-body">Yours sincerely,</p>
          <p class="govuk-body">Office manager</p>

          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    
          <h2 class="govuk-heading-l">General DWP Information</h2>
          <h3 class="govuk-heading-m">How we made our decision</h3>
          <p class="govuk-body">The decision was made solely by an automated system using the information we were provided. We can look at the decision again without using automation. You must ask us to do this within one month of receiving this letter.</p>
    
    <h2 class="govuk-heading-m">If you disagree with a decision</h2>
    <h3 class="govuk-heading-s">You can ask us to explain our decision</h3>

    <p class="govuk-body">You, or someone who has the authority to act for you, can phone or write to us within one month of the date on this letter to ask us to explain our decision in writing.</p>
    
    <h3 class="govuk-heading-s">You can also ask us to reconsider a decision</h3>
    <p class="govuk-body">Tell us if you have more information, or if you think we have overlooked something which might change the decision. Do this within one month of the date on this letter.
    
      <p class="govuk-body">We will look at what you tell us and send you a letter to tell you what we have decided, and why. We call this letter a Mandatory Reconsideration Notice.</p>
    
    <h3 class="govuk-heading-s">When you have done this you can appeal</h3>
    <p class="govuk-body">If you disagree with the Mandatory Reconsideration Notice, you can appeal to a tribunal.</p>
    
    <p class="govuk-body">You must wait for the Mandatory Reconsideration Notice before you start an appeal.</p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    
    <h2 class="govuk-heading-m">Treating people fairly</h2>
    <p class="govuk-body">We are committed to the Equality Act 2010 and treating people fairly. To find out more about this law, search 'Equality Act' on GOV.UK</p>
    
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-m">Call charges</h2>
    <p class="govuk-body">Calls to 0800 numbers are free from personal mobiles and landlines.</p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    
    <h2 class="govuk-heading-m">Why DWP needs personal information and how we treat it</h2>
    <p class="govuk-body">We treat personal information carefully. We may use it for any of our purposes. To learn more about information rights and how we use information, please see our DWP Personal Information Charter</p>

  </div>
  
  <div class="govuk-grid-column-one-third">

    <img src="/public/images/dwp-logo.png" class="dwp-logo">

    <div class="govuk-!-padding-bottom-6"></div>
  
    <h3 class="govuk-heading-s">Your address</h3>
  
      <p class="govuk-body">72 Guild Street<br>London<br>SE23 6FH</p>
  
      <h3 class="govuk-heading-s">Sender contact address</h3>
  
      <p class="govuk-body">Mail Handling Site A<br>Wolverhamption<br>WV98 2AG</p>
      
        <p class="govuk-body">Telephone: 020 7946 0000<br>Textphone: 01632 960000</p>
      
        <p class="govuk-body"><a href="https://www.gov.uk/" class="govuk-link">Visit the GOV.UK website</a></p>
  
        <p class="govuk-body">Your reference: ABC123456</p>
      
        <p class="govuk-body">Date issued: 8 September 2025</p>
      
        <h2 class="govuk-heading-s">We have many different ways we can communicate with you.</h2>
      <p class="govuk-body">If you would like braille, British Sign Language, a hearing loop, translations, large print, audio or something else please tell us using the phone number at the top of this letter.</p>
  

  </div>

</div>

<style>


.highlight-yellow {
  background-color: #ffdd00;
}

  <button type="submit" class="govuk-button download-pdf" data-module="govuk-button">
      Download PDF
    </button>

.dwp-logo {max-width: 40%}
.dwp-logo {max-height: 40%}
.dwp-logo {max-width: 135px}
.dwp-logo {max-height: 113.5px}
        

.intro-box {
      padding-left: 20px;
      padding-right: 20px;
    }

  .right-align {
    float: right;
  }

  .intro-box {
      padding-left: 20px;
      padding-right: 20px;
    }

.grey-background {
    background-color: #e5e6e7;
  }

  .light-grey-background {
    background-color: #f3f2f1;
    border-left: 10px solid #1d70b8;
  }

</style>


{% endblock %}
